# Dependencies
node_modules/

# Build artifacts
dist/
build/
release/

# Operating System Files
.DS_Store
Thumbs.db

# Environment Files
.env
.env.local

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron specific
*.asar