body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #eaf4fc;
    margin-top: 24px;
  }
  
  button {
    width: 240px;
    height: 48px; 
    font-size: 21px;
    font-weight: 700;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2d92ff;
  }

  .button-updating {
    background-color: #004186; /* Example color: orange */
    color: rgb(163, 163, 163); /* Example text color */
    /* Add other styling as needed */
}

  
  p {
    font-size: 12px;
    color: #adadad;
    margin-top: 24px;
  }

  #current-version {
    font-size: 12px;
    color: #b1b1b1;
    margin-top: 10px; 
    text-align: center;
}
  

.logo {
  height: 32vh;
  margin-bottom: 2px; 
}

.icp {
  height: 4vh;
}
  #progress-bar-container {
    display: none;
    width: 50%;
    background: linear-gradient(to bottom, #424242 0%, #1a1a1a 100%);
    border-radius: 48px;
    margin-top: 24px;
    height: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    overflow: hidden; 
}

#progress-bar {
    height: 100%;
    background: linear-gradient(to right, #26ff00 0%, #1b9f04 100%);
    border-radius: 2px;
    width: 0%;
    transition: width 2.5s ease-out;
}